<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<style>
    body{
        background-image: url("https://wallpaperaccess.com/full/552875.jpg");
    }
    #create {
        opacity: 0.8;
        background-color: white;
        /*margin: 100px;*/
        /*width: 1100px;*/
        /*height: 500px;*/
    }
</style>
</head>
<body><nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/create">Create form<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div id="create">
    <form style="margin: 40px" method="post" action="/create" th:object="${form}">
        <h2 style="margin-left: 40%">Create Form</h2>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">First name</label>
                <input type="text" class="form-control" id="validationDefault01" th:field="*{firstName}" required>
                <p style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault02">Last name</label>
                <input type="text" class="form-control" id="validationDefault02" th:field="*{lastName}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="validationDefault03">Phone Number</label>
                <input type="text" class="form-control" id="validationDefault03" th:field="*{phoneNumber}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="validationDefault04">Age</label>
                <input type="text" class="form-control" id="validationDefault04" th:field="*{age}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="validationDefault05">Email</label>
                <input type="text" class="form-control" id="validationDefault05" th:field="*{email}" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
<!--    <label >First Name:</label>-->
<!--    <input style="margin-left: 2.5%" type="text" th:field="*{firstName}" >-->
<!--    <p style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>-->
<!--    <label>Last Name:</label>-->
<!--    <input type="text" style="margin-left: 2.6%" th:field="*{lastName}" ><br><br>-->
<!--    <label>Phone Number:</label>-->
<!--    <input type="text" style="margin-left: 0.5%" th:field="*{phoneNumber}"><br><br>-->
<!--    <label>Age:</label>-->
<!--    <input type="text" style="margin-left: 6%" th:field="*{age}"><br><br>-->
<!--    <label>Email:</label>-->
<!--    <input type="text" style="margin-left: 5%" th:field="*{email}"><br><br>-->
<!--    <input type="submit" value="Save"  style="margin-left: 20%">-->
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</html>