<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/shop/viewCart">View Cart</a>
<a href="/shop/createCart">Drop Cart</a>
<th:block th:each="productL : ${productList}">
    <form action="/shop/editCart" method="post" th:object="${cart}">
        <input type="hidden" name="id" th:value="${productL.id}">
        <span th:text="${productL.name}"></span>
        <input type="number" th:field="*{quantity}">
        <input type="submit" value="Delete from cart"><br>
    </form>
</th:block>
</body>
</html>